<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.BatchSetTaskDetailMapper" >
    <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.BatchSetTaskDetail" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="batch_set_task_id" property="batchSetTaskId" jdbcType="VARCHAR" />
        <result column="parm_name" property="parmName" jdbcType="VARCHAR" />
        <result column="parm_type" property="parmType" jdbcType="VARCHAR" />
        <result column="parm_value" property="parmValue" jdbcType="VARCHAR" />
        <result column="parm_length" property="parmLength" jdbcType="INTEGER" />
        <result column="parm_writeable" property="parmWriteable" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectByParm" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        select
        a.id, a.batch_set_task_id, parm_name, parm_type, parm_length, parm_writeable,parm_value
        from t_batch_set_task_detail a,t_batch_set_task b
        where a.batch_set_task_id = b.id and b.is_delete = 1
        <if test="id != null">
            and a.id =
            #{id,jdbcType=VARCHAR}
        </if>
        <if test="batchSetTaskId != null">
            and a.batch_set_task_id =
            #{batchSetTaskId,jdbcType=VARCHAR}
        </if>
        <if test="parmName != null">
            and a.parm_name =
            #{parmName,jdbcType=VARCHAR}
        </if>
    </select>


    <delete id="deleteByBatchSetTaskId" parameterType="java.lang.String" >
        DELETE FROM t_batch_set_task_detail WHERE batch_set_task_id =
            #{batchSetTaskId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.cmiot.rms.dao.model.BatchSetTaskDetail" >
        insert into t_batch_set_task_detail (id, batch_set_task_id, parm_name,
        parm_type, parm_length, parm_writeable,parm_value)
        values (#{id,jdbcType=VARCHAR}, #{batchSetTaskId,jdbcType=VARCHAR}, #{parmName,jdbcType=VARCHAR},
        #{parmType,jdbcType=VARCHAR}, #{parmLength,jdbcType=INTEGER}, #{parmWriteable,jdbcType=VARCHAR}, #{parmValue,jdbcType=VARCHAR})
    </insert>
</mapper>