<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.BoxFirmwareUpgradeTaskDetailMapper">
	<resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.BoxFirmwareUpgradeTaskDetail">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="upgrade_task_id" property="upgradeTaskId" jdbcType="VARCHAR" />
		<result column="box_id" property="boxId" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="upgrade_start_time" property="upgradeStartTime" jdbcType="INTEGER" />
		<result column="upgrade_end_time" property="upgradeEndTime" jdbcType="INTEGER" />
		<result column="is_retry" property="isRetry" jdbcType="BIT" />
		<result column="retry_times" property="retryTimes" jdbcType="INTEGER" />
		<!-- <result column="firmware_id" property="firmwareId" jdbcType="VARCHAR" /> -->
		<!-- <result column="firmware_version" property="firmwareVersion" jdbcType="VARCHAR" /> -->
		<!-- <result column="previous_firmware_id" property="previousFirmwareId" jdbcType="VARCHAR" /> -->
		<!-- <result column="previous_firmware_version" property="previousFirmwareVersion" jdbcType="VARCHAR" /> -->
	</resultMap>
	<sql id="Base_Column_List">
		id, upgrade_task_id, box_id, status, upgrade_start_time, upgrade_end_time, is_retry, retry_times
		<!-- , firmware_id, firmware_version, previous_firmware_id, previous_firmware_version -->
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		t_box_firmware_upgrade_task_detail
		where
		id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectTaskDetailByTaskIdAndBoxId" parameterType="com.cmiot.rms.dao.model.BoxFirmwareUpgradeTaskDetail" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_box_firmware_upgrade_task_detail
		where 1=1
		<if test="upgradeTaskId != null">
			and upgrade_task_id = #{upgradeTaskId,jdbcType=VARCHAR}
		</if>
		<if test="status != null">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="boxId != null">
			and box_id = #{boxId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="selectByFactoryCodeSerialNumberEvntStatus" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		d.id taskDetailId,
		d.box_id boxId,
		d.upgrade_task_id taskId,
		c.current_firmware_uuid firmwareId
		FROM
		t_box_device_info a,
		t_box_firmware_info b,
		t_box_firmware_upgrade_task c,
		t_box_firmware_upgrade_task_detail d,
		t_box_info e,
		t_box_firmware_prepared f
		WHERE
		a.id = b.device_id
		AND b.id = c.current_firmware_uuid
		AND d.upgrade_task_id = c.id
		AND d.box_id = e.box_uuid
		AND e.box_firmware_uuid = f.firmware_previous_id
		AND c.current_firmware_uuid = f.firmware_id
		AND d. STATUS = #{status,jdbcType=INTEGER}
		AND e.box_serialnumber = #{serialNumber,jdbcType=VARCHAR}
		AND c.task_trigger_event = #{evnt,jdbcType=INTEGER}
		AND a.factory_code = #{factoryCode,jdbcType=VARCHAR}
		ORDER BY c.task_create_time ASC
		<!-- SELECT -->
		<!-- a.id taskDetailId, -->
		<!-- b.box_uuid boxId, -->
		<!-- a.upgrade_task_id taskId, -->
		<!-- c.current_firmware_uuid firmwareId -->
		<!-- FROM -->
		<!-- t_box_firmware_upgrade_task_detail a, -->
		<!-- t_box_info b, -->
		<!-- t_box_firmware_upgrade_task c -->
		<!-- WHERE -->
		<!-- a.box_id = b.box_uuid -->
		<!-- AND a.upgrade_task_id = c.id -->
		<!-- AND b.box_factory_code = c.factory_code -->
		<!-- AND a.status = #{status,jdbcType=INTEGER} -->
		<!-- AND b.box_factory_code = #{factoryCode,jdbcType=VARCHAR} -->
		<!-- AND b.box_serialnumber = #{serialNumber,jdbcType=VARCHAR} -->
		<!-- AND c.task_trigger_event = #{evnt,jdbcType=INTEGER} -->
		<!-- ORDER BY c.task_create_time ASC -->
	</select>

	<select id="selectByBoxIdAndTaskTriggerMode" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT
		a.id, a.upgrade_task_id, a.box_id, a.status, a.upgrade_start_time, a.upgrade_end_time, a.is_retry, a.retry_times
		FROM
		t_box_firmware_upgrade_task_detail a,
		t_box_firmware_upgrade_task b
		WHERE
		a.upgrade_task_id = b.id
		<if test="taskTriggerMode !=null and taskTriggerMode !=''">
			AND b.task_trigger_mode = #{taskTriggerMode,jdbcType=INTEGER}
		</if>
		AND a.box_id =#{boxId,jdbcType=VARCHAR}
		ORDER BY b.task_create_time DESC LIMIT 1
	</select>

	<select id="searchTaskDetailCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1) FROM t_box_firmware_upgrade_task_detail
		<where>
			<if test="upgradeTaskId != null">
				upgrade_task_id = #{upgradeTaskId}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
		</where>
	</select>

	<select id="countSuccessStatusTaskDetail" parameterType="java.lang.String" resultType="int">
		SELECT count(1) FROM t_box_firmware_upgrade_task_detail
		<where>
			upgrade_task_id = #{upgradeTaskId}
			AND (status != 1 OR status != 2)
		</where>
	</select>

	<select id="searchProcessingCount" parameterType="java.lang.String" resultType="int">
		select count(*)
		from t_box_firmware_upgrade_task_detail
		where status = 1
		and box_id = #{boxId,jdbcType=VARCHAR}
	</select>


	<insert id="batchInsert" parameterType="java.util.List">
		insert into t_box_firmware_upgrade_task_detail (
		id,
		upgrade_task_id,
		box_id,
		status,
		upgrade_start_time,
		upgrade_end_time,
		is_retry,
		retry_times
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.id},
			#{item.upgradeTaskId},
			#{item.boxId},
			#{item.status},
			#{item.upgradeStartTime},
			#{item.upgradeEndTime},
			#{item.isRetry},
			#{item.retryTimes}
			)
		</foreach>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM
		t_box_firmware_upgrade_task_detail
		WHERE
		id = #{id,jdbcType=VARCHAR}
	</delete>

	<select id="queryListByIdAndStatus" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		c.box_macaddress boxMacAddress,
		e.factory_name factoryName,
		c.box_model boxModel,
		d.firmware_version firmwareVersion,
		(
		SELECT
		g.firmware_version
		FROM
		t_box_firmware_info g
		WHERE
		g.id =
		c.box_firmware_uuid
		) boxVersion,
		c.box_area_id areaId
		FROM
		t_box_firmware_upgrade_task_detail a,
		t_box_firmware_upgrade_task b,
		t_box_info c,
		t_box_firmware_info d,
		t_box_factory_info e
		WHERE
		a.upgrade_task_id = b.id
		AND a.box_id = c.box_uuid
		AND b.factory_code = c.box_factory_code
		AND b.current_firmware_uuid = d.id
		AND d.factory_code = c.box_factory_code
		AND e.factory_code = d.factory_code
		AND a.upgrade_task_id=#{upgradeTaskId,jdbcType=VARCHAR}
		<if test="type=='list'">
			and (status=0 or status=1)
		</if>
		<if test="type=='failure'">
			and status=2
		</if>
		<if test="type=='success'">
			and status=3
		</if>
		order by b.task_create_time desc limit #{lbound,jdbcType=INTEGER},#{mbound,jdbcType=INTEGER}
	</select>

	<select id="countQueryListByIdAndStatus" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM
		t_box_firmware_upgrade_task_detail a,
		t_box_firmware_upgrade_task b,
		t_box_info c,
		t_box_firmware_info d,
		t_box_factory_info e
		WHERE
		a.upgrade_task_id = b.id
		AND a.box_id = c.box_uuid
		AND
		b.factory_code = c.box_factory_code
		AND b.current_firmware_uuid = d.id
		AND d.factory_code = c.box_factory_code
		AND e.factory_code = d.factory_code
		AND a.upgrade_task_id=#{upgradeTaskId,jdbcType=VARCHAR}
		<if test="type=='list'">
			and (a.status=0 or a.status=1)
		</if>
		<if test="type=='failure'">
			and a.status=2
		</if>
		<if test="type=='success'">
			and a.status=3
		</if>
	</select>

	<insert id="insert" parameterType="com.cmiot.rms.dao.model.BoxFirmwareUpgradeTaskDetail">
		INSERT INTO t_box_firmware_upgrade_task_detail (
		id,
		upgrade_task_id,
		box_id,
		STATUS,
		upgrade_start_time,
		upgrade_end_time,
		is_retry,
		retry_times
		)
		VALUES
		(
		#{id,jdbcType=VARCHAR},
		#{upgradeTaskId,jdbcType=VARCHAR},
		#{boxId,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},
		#{upgradeStartTime,jdbcType=INTEGER},
		#{upgradeEndTime,jdbcType=INTEGER},
		#{isRetry,jdbcType=BIT},
		#{retryTimes,jdbcType=INTEGER}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.BoxFirmwareUpgradeTaskDetail">
		insert into t_box_firmware_upgrade_task_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="upgradeTaskId != null">
				upgrade_task_id,
			</if>
			<if test="boxId != null">
				box_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="upgradeStartTime != null">
				upgrade_start_time,
			</if>
			<if test="upgradeEndTime != null">
				upgrade_end_time,
			</if>
			<if test="isRetry != null">
				is_retry,
			</if>
			<if test="retryTimes != null">
				retry_times,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="upgradeTaskId != null">
				#{upgradeTaskId,jdbcType=VARCHAR},
			</if>
			<if test="boxId != null">
				#{boxId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="upgradeStartTime != null">
				#{upgradeStartTime,jdbcType=INTEGER},
			</if>
			<if test="upgradeEndTime != null">
				#{upgradeEndTime,jdbcType=INTEGER},
			</if>
			<if test="isRetry != null">
				#{isRetry,jdbcType=BIT},
			</if>
			<if test="retryTimes != null">
				#{retryTimes,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<update id="updateByTaskIdAndBoxIdSelective" parameterType="java.util.Map">
		update t_box_firmware_upgrade_task_detail
		<set>
			<!-- <if test="upgradeTaskId != null"> -->
			<!-- upgrade_task_id = #{upgradeTaskId,jdbcType=VARCHAR}, -->
			<!-- </if> -->
			<!-- <if test="boxId != null"> -->
			<!-- box_id = #{boxId,jdbcType=VARCHAR}, -->
			<!-- </if> -->
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="upgradeStartTime != null">
				upgrade_start_time = #{upgradeStartTime,jdbcType=INTEGER},
			</if>
			<if test="upgradeEndTime != null">
				upgrade_end_time = #{upgradeEndTime,jdbcType=INTEGER},
			</if>
			<if test="isRetry != null">
				is_retry = #{isRetry,jdbcType=BIT},
			</if>
			<if test="retryTimes != null">
				retry_times = #{retryTimes,jdbcType=INTEGER},
			</if>
		</set>
		where upgrade_task_id = #{taskId,jdbcType=VARCHAR} and box_id = #{boxId,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.BoxFirmwareUpgradeTaskDetail">
		UPDATE t_box_firmware_upgrade_task_detail,
		SET
		upgrade_task_id = #{upgradeTaskId,jdbcType=VARCHAR},
		box_id = #{boxId,jdbcType=VARCHAR},
		STATUS =
		#{status,jdbcType=INTEGER},
		upgrade_start_time = #{upgradeStartTime,jdbcType=INTEGER},
		upgrade_end_time = #{upgradeEndTime,jdbcType=INTEGER},
		is_retry = #{isRetry,jdbcType=BIT},
		retry_times =
		#{retryTimes,jdbcType=INTEGER},
		WHERE
		id = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.BoxFirmwareUpgradeTaskDetail">
		update t_box_firmware_upgrade_task_detail
		<set>
			<if test="upgradeTaskId != null">
				upgrade_task_id = #{upgradeTaskId,jdbcType=VARCHAR},
			</if>
			<if test="boxId != null">
				box_id = #{boxId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="upgradeStartTime != null">
				upgrade_start_time = #{upgradeStartTime,jdbcType=INTEGER},
			</if>
			<if test="upgradeEndTime != null">
				upgrade_end_time = #{upgradeEndTime,jdbcType=INTEGER},
			</if>
			<if test="isRetry != null">
				is_retry = #{isRetry,jdbcType=BIT},
			</if>
			<if test="retryTimes != null">
				retry_times = #{retryTimes,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>


	<update id="batchUpdateProcessingStatusAndTime" parameterType="java.util.HashMap">
		update t_box_firmware_upgrade_task_detail  set status = 1, upgrade_start_time = #{upgradeStartTime,jdbcType=INTEGER}
		where id IN
		<foreach  collection="ids" index="index" item="item" open="(" separator="," close=")">
			#{item,jdbcType=VARCHAR}
		</foreach>
	</update>

	<select id="queryListByTaskId" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_box_firmware_upgrade_task_detail
		where upgrade_task_id = #{upgradeTaskId,jdbcType=VARCHAR} and status = #{status,jdbcType=INTEGER}
		ORDER BY id
	</select>

	<select id="queryCountNoComplete" parameterType="com.cmiot.rms.dao.model.FirmwareUpgradeTaskDetail"
			resultType="int">
		select
		count(*)
		from t_box_firmware_upgrade_task_detail
		where upgrade_task_id = #{upgradeTaskId,jdbcType=VARCHAR}
		and status in(0,1)
	</select>

</mapper>