<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.DiagnoseThresholdValueMapper">
	<resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.DiagnoseThresholdValue">
		<result column="threshold_name" property="thresholdName" jdbcType="VARCHAR" />
		<result column="min_threshold_value" property="minThresholdValue" jdbcType="VARCHAR" />
		<result column="max_threshold_value" property="maxThresholdValue" jdbcType="VARCHAR" />
		<result column="diagnose_type" property="diagnoseType" jdbcType="INTEGER" />
		<result column="equipment_type" property="equipmentType" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		threshold_name, min_threshold_value, max_threshold_value, diagnose_type, equipment_type
	</sql>

	<insert id="insert" parameterType="com.cmiot.rms.dao.model.DiagnoseThresholdValue">
		insert into t_diagnose_threshold_value (threshold_name, min_threshold_value, max_threshold_value, diagnose_type, equipment_type)
		values
		(#{thresholdName,jdbcType=VARCHAR},#{minThresholdValue,jdbcType=VARCHAR}, #{maxThresholdValue,jdbcType=VARCHAR}, #{diagnoseType,jdbcType=INTEGER}, #{equipmentType,jdbcType=INTEGER})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_diagnose_threshold_value (threshold_name, min_threshold_value, max_threshold_value, diagnose_type, equipment_type) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.thresholdName},#{item.minThresholdValue},#{item.maxThresholdValue},#{item.diagnoseType},#{item.equipmentType})
		</foreach>
	</insert>

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update t_diagnose_threshold_value set
			<if test="item.minThresholdValue != null and item.minThresholdValue !='' ">
				min_threshold_value = #{item.minThresholdValue,jdbcType=VARCHAR}
			</if>
			<if test="(item.minThresholdValue != null and item.minThresholdValue !='' ) and (item.maxThresholdValue != null and item.maxThresholdValue !='' )">
				,
			</if>
			<if test="item.maxThresholdValue != null and item.maxThresholdValue !='' ">
				max_threshold_value = #{item.maxThresholdValue,jdbcType=VARCHAR}
			</if>
			where diagnose_type = #{item.diagnoseType,jdbcType=INTEGER}
			and equipment_type = #{item.equipmentType,jdbcType=INTEGER}
			and threshold_name = #{item.thresholdName,jdbcType=VARCHAR}
		</foreach>
	</update>

	<insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.DiagnoseThresholdValue">
		insert into t_diagnose_threshold_value
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="thresholdName != null"> threshold_name,
			</if>
			<if test="minThresholdValue != null"> min_threshold_value,
			</if>
			<if test="maxThresholdValue != null"> max_threshold_value,
			</if>
			<if test="diagnoseType != null"> diagnose_type,
			</if>
			<if test="equipmentType != null"> equipment_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="thresholdName != null"> #{thresholdName,jdbcType=VARCHAR},
			</if>
			<if test="minThresholdValue != null"> #{minThresholdValue,jdbcType=VARCHAR},
			</if>
			<if test="maxThresholdValue != null"> #{maxThresholdValue,jdbcType=VARCHAR},
			</if>
			<if test="diagnoseType != null"> #{diagnoseType,jdbcType=INTEGER},
			</if>
			<if test="equipmentType != null"> #{equipmentType,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<select id="selectDiagnoseThresholdValue" parameterType="com.cmiot.rms.dao.model.DiagnoseThresholdValue" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_diagnose_threshold_value
		where
		diagnose_type = #{diagnoseType,jdbcType=INTEGER}
		and
		equipment_type = #{equipmentType,jdbcType=INTEGER}
	</select>

	<update id="updateDiagnoseThresholdValue" parameterType="com.cmiot.rms.dao.model.DiagnoseThresholdValue">
		update t_diagnose_threshold_value
		set
		threshold_name =
		#{thresholdName,jdbcType=VARCHAR},
		threshold_value =
		#{thresholdValue,jdbcType=VARCHAR}
		where
		diagnose_type = #{diagnoseType,jdbcType=INTEGER}
		and
		equipment_type = #{equipmentType,jdbcType=INTEGER}
	</update>
</mapper>