<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.FactoryMapper">
	<resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.Factory">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="factory_code" property="factoryCode" jdbcType="CHAR" />
		<result column="factory_name" property="factoryName" jdbcType="CHAR" />
		<result column="manufacturer_id" property="manufacturerId" jdbcType="VARCHAR" />
		<result column="oui" property="oui" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, factory_code, factory_name, manufacturer_id
	</sql>

	<select id="selectFactoryByName" resultMap="BaseResultMap" parameterType="com.cmiot.rms.dao.model.Factory">
		select
		<include refid="Base_Column_List" />
		from t_factory_info
		where 1=1
		<if test="null != factoryName and factoryName !=''">
			and factory_name = #{factoryName,jdbcType=CHAR}
		</if>
		<if test="null != factoryName and factoryName !='' and null != factoryCode and factoryCode !=''">
			or
		</if>
		<if test="(null == factoryName or factoryName =='' ) and (null != factoryCode and factoryCode !='')">
			and
		</if>
		lower(factory_code) = lower(#{factoryCode,jdbcType=CHAR})
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_factory_info
		where
		id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="queryForManufacturerId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_factory_info
		where 1=1
		<if test="manufacturerId != null">
			and manufacturer_id = #{manufacturerId,jdbcType=VARCHAR}
		</if>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_factory_info
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.cmiot.rms.dao.model.Factory">
		insert into t_factory_info (id, factory_code, factory_name,
		manufacturer_id)
		values (#{id,jdbcType=VARCHAR}, #{factoryCode,jdbcType=CHAR},
		#{factoryName,jdbcType=CHAR},
		#{manufacturerId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.Factory">
		insert into t_factory_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="factoryCode != null">
				factory_code,
			</if>
			<if test="factoryName != null">
				factory_name,
			</if>
			<if test="manufacturerId != null">
				manufacturer_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="factoryCode != null">
				#{factoryCode,jdbcType=CHAR},
			</if>
			<if test="factoryName != null">
				#{factoryName,jdbcType=CHAR},
			</if>
			<if test="manufacturerId != null">
				#{manufacturerId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.Factory">
		update t_factory_info
		<set>
			<if test="factoryCode != null">
				factory_code = #{factoryCode,jdbcType=CHAR},
			</if>
			<if test="factoryName != null">
				factory_name = #{factoryName,jdbcType=CHAR},
			</if>
			<if test="manufacturerId != null">
				manufacturer_id = #{manufacturerId,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.Factory">
		update t_factory_info
		set factory_code = #{factoryCode,jdbcType=CHAR},
		factory_name = #{factoryName,jdbcType=CHAR},
		manufacturer_id =
		#{manufacturerId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="queryList" parameterType="com.cmiot.rms.dao.model.Factory" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_factory_info where 1=1
		<if test="id != null and id != ''">
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="factoryCode != null and factoryCode !='' ">
			and factory_code = #{factoryCode,jdbcType=CHAR}
		</if>
		<if test="factoryName != null and factoryName !='' ">
			and factory_name like CONCAT('%',#{factoryName,jdbcType=CHAR},'%')
		</if>
		<if test="manufacturerId != null and manufacturerId !='' ">
			and manufacturer_id = #{manufacturerId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="selectPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_factory_info where 1=1
		<if test="ouicode != null and ouicode !='' ">
			and factory_code like CONCAT('%',#{ouicode,jdbcType=VARCHAR},'%')
		</if>
		<if test="ouiName != null and ouiName !='' ">
			and factory_name like CONCAT('%',#{ouiName,jdbcType=VARCHAR},'%')
		</if>
		<if test="manufacturerId != null and manufacturerId !='' ">
			and manufacturer_id = #{manufacturerId,jdbcType=VARCHAR}
		</if>
		order by factory_code asc limit #{lbound,jdbcType=INTEGER},#{mbound,jdbcType=INTEGER}
	</select>

	<select id="countSelectPage" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
		count(1)
		from t_factory_info where 1=1
		<if test="ouicode != null and ouicode !='' ">
			and factory_code = #{ouicode,jdbcType=VARCHAR}
		</if>
		<if test="ouiName != null and ouiName !='' ">
			and factory_name like CONCAT('%',#{ouiName,jdbcType=VARCHAR},'%')
		</if>
		<if test="manufacturerId != null and manufacturerId !='' ">
			and manufacturer_id = #{manufacturerId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="countQueryList" parameterType="com.cmiot.rms.dao.model.Factory" resultType="java.lang.Integer">
		select
		count(1)
		from t_factory_info where 1=1
		<if test="id != null and id != ''">
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="factoryCode != null and factoryCode !='' ">
			and factory_code = #{factoryCode,jdbcType=CHAR}
		</if>
		<if test="factoryName != null and factoryName !='' ">
			and factory_name like CONCAT('%',#{factoryName,jdbcType=CHAR},'%')
		</if>
		<if test="manufacturerId != null and manufacturerId !='' ">
			and manufacturer_id = #{manufacturerId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="queryFactoryInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_factory_info
		where 1=1
		and factory_code = #{factoryCode,jdbcType=VARCHAR}
	</select>

	<select id="queryFactoryCodeOui" resultMap="BaseResultMap">
		SELECT
		f.factory_name factory_name,
		m.code factory_code,
		m.id manufacturer_id,
		f.factory_code oui
		FROM
		t_manufacturer_info m,
		t_factory_info f
		where f.manufacturer_id = m.id;
	</select>

</mapper>