<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.FirmwarePreparedMapper">
    <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.FirmwarePrepared">
        <result column="firmware_id" property="firmwareId" jdbcType="VARCHAR"/>
        <result column="firmware_previous_id" property="firmwarePreviousId" jdbcType="VARCHAR"/>
        <result column="need_force_upgrade" property="needForceUpgrade" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List" >
        firmware_id, firmware_previous_id, need_force_upgrade
    </sql>
    <insert id="insert" parameterType="com.cmiot.rms.dao.model.FirmwarePrepared">
        insert into t_firmware_prepared (firmware_id, firmware_previous_id, need_force_upgrade
        )
        values (#{firmwareId,jdbcType=VARCHAR}, #{firmwarePreviousId,jdbcType=VARCHAR}, #{needForceUpgrade,jdbcType=BIT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.FirmwarePrepared">
        insert into t_firmware_prepared
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="firmwareId != null">
                firmware_id,
            </if>
            <if test="firmwarePreviousId != null">
                firmware_previous_id,
            </if>
            <if test="needForceUpgrade != null">
                need_force_upgrade,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="firmwareId != null">
                #{firmwareId,jdbcType=VARCHAR},
            </if>
            <if test="firmwarePreviousId != null">
                #{firmwarePreviousId,jdbcType=VARCHAR},
            </if>
            <if test="needForceUpgrade != null">
                #{needForceUpgrade,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <select id="queryList" parameterType="com.cmiot.rms.dao.model.FirmwarePrepared"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_firmware_prepared
        where 1=1
        <if test="firmwareId != null">
            and firmware_id =
            #{firmwareId,jdbcType=CHAR}
        </if>

    </select>

    <delete id="deleteByFirmwareId" parameterType="java.lang.String">
        delete from t_firmware_prepared
        where firmware_id= #{firmwareI,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByFirmwarePreId" parameterType="java.lang.String">
        delete from t_firmware_prepared
        where firmware_previous_id= #{firmwarePreviousId,jdbcType=VARCHAR}
    </delete>
</mapper>