<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmiot.rms.dao.mapper.FirmwareUpgradeTaskMapper">
    <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.FirmwareUpgradeTask" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="task_name" property="taskName" jdbcType="VARCHAR" />
        <result column="task_start_time" property="taskStartTime" jdbcType="VARCHAR" />
        <result column="task_end_time" property="taskEndTime" jdbcType="VARCHAR" />
        <result column="task_create_time" property="taskCreateTime" jdbcType="INTEGER" />
        <result column="task_period" property="taskPeriod" jdbcType="INTEGER" />
        <result column="task_is_auto_start" property="taskIsAutoStart" jdbcType="BIT" />
        <result column="task_status" property="taskStatus" jdbcType="INTEGER" />
        <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
        <result column="area_id" property="areaId" jdbcType="VARCHAR" />
        <result column="area_name" property="areaName" jdbcType="VARCHAR" />
        <result column="firmware_id" property="firmwareId" jdbcType="VARCHAR" />
        <result column="firmware_version" property="firmwareVersion" jdbcType="VARCHAR" />
        <result column="task_trigger_mode" property="taskTriggerMode" jdbcType="INTEGER" />
        <result column="task_trigger_event" property="taskTriggerEvent" jdbcType="INTEGER" />
        <result column="task_description" jdbcType="VARCHAR" property="taskDescription" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, task_name, task_start_time, task_end_time, task_create_time, task_period, task_is_auto_start,
        task_status, device_id, area_id, firmware_id, task_trigger_mode, task_trigger_event, task_description
    </sql>

    <select id="queryList4Page" parameterType="com.cmiot.rms.dao.model.FirmwareUpgradeTask"
            resultMap="BaseResultMap">
        SELECT   a.id, a.task_name, a.task_start_time,
        a.task_end_time, a.task_create_time, a.task_period, a.task_is_auto_start,
        a.task_status, a.device_id, a.area_id, a.firmware_id,a.task_trigger_mode, a.task_trigger_event, b.device_name, d.firmware_version
        FROM t_firmware_upgrade_task a
        left join t_device_info b on a.device_id=b.id
        left join t_firmware_info d on a.firmware_id=d.id
        WHERE a.task_trigger_mode &lt;&gt;  3
        <if test="taskName != null">
            and a.task_name like
            CONCAT('%',
            #{taskName},'%' )
        </if>
        <if test="areaId != null">
            and a.area_id in ${areaId}
        </if>
        ORDER BY a.task_create_time DESC
    </select>

	<select id="queryList" parameterType="com.cmiot.rms.dao.model.FirmwareUpgradeTask"
		resultMap="BaseResultMap">
        SELECT   a.id, a.task_name, a.task_start_time,
        a.task_end_time, a.task_create_time, a.task_period, a.task_is_auto_start,
        a.task_status, a.device_id, a.area_id, a.firmware_id
		from t_firmware_upgrade_task a, t_firmware_upgrade_time b
		where a.task_trigger_mode = #{taskTriggerMode,jdbcType=INTEGER}
			and a.task_status = #{taskStatus,jdbcType=INTEGER}
			and #{currentTime,jdbcType=INTEGER}  >= b.task_start_time
            and b.task_end_time >= #{currentTime,jdbcType=INTEGER}
            and b.upgrade_task_id=a.id
        ORDER BY a.task_create_time ASC
	</select>

   <select id="queryListByStatus" parameterType="int" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from t_firmware_upgrade_task
      where  task_status = #{status,jdbcType=INTEGER}
   </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_firmware_upgrade_task
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_firmware_upgrade_task
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.cmiot.rms.dao.model.FirmwareUpgradeTask" >
        insert into t_firmware_upgrade_task (id, task_name, task_start_time,
        task_end_time, task_create_time, task_period, task_is_auto_start,
        task_status, device_id, area_id,
        firmware_id, task_trigger_mode, task_trigger_event, task_description)
        values (#{id,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, #{taskStartTime,jdbcType=VARCHAR},
        #{taskEndTime,jdbcType=VARCHAR}, #{taskCreateTime,jdbcType=INTEGER}, #{taskPeriod,jdbcType=INTEGER}, #{taskIsAutoStart,jdbcType=BIT},
        #{taskStatus,jdbcType=INTEGER}, #{deviceId,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR},
        #{firmwareId,jdbcType=VARCHAR}, #{taskTriggerMode,jdbcType=INTEGER}, #{taskTriggerEvent,jdbcType=INTEGER}, #{taskDescription,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.FirmwareUpgradeTask" >
        insert into t_firmware_upgrade_task
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="taskName != null" >
                task_name,
            </if>
            <if test="taskStartTime != null" >
                task_start_time,
            </if>
            <if test="taskEndTime != null" >
                task_end_time,
            </if>
            <if test="taskCreateTime != null" >
                task_create_time,
            </if>
            <if test="taskPeriod != null" >
                task_period,
            </if>
            <if test="taskIsAutoStart != null" >
                task_is_auto_start,
            </if>
            <if test="taskStatus != null" >
                task_status,
            </if>
            <if test="deviceId != null" >
                device_id,
            </if>
            <if test="areaId != null" >
                area_id,
            </if>
            <if test="firmwareId != null" >
                firmware_id,
            </if>
            <if test="taskTriggerMode != null" >
                task_trigger_mode,
            </if>
            <if test="taskTriggerEvent != null" >
                task_trigger_event,
            </if>
            <if test="taskDescription != null">
                task_description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="taskName != null" >
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskStartTime != null" >
                #{taskStartTime,jdbcType=VARCHAR},
            </if>
            <if test="taskEndTime != null" >
                #{taskEndTime,jdbcType=VARCHAR},
            </if>
            <if test="taskCreateTime != null" >
                #{taskCreateTime,jdbcType=INTEGER},
            </if>
            <if test="taskPeriod != null" >
                #{taskPeriod,jdbcType=INTEGER},
            </if>
            <if test="taskIsAutoStart != null" >
                #{taskIsAutoStart,jdbcType=BIT},
            </if>
            <if test="taskStatus != null" >
                #{taskStatus,jdbcType=INTEGER},
            </if>
            <if test="deviceId != null" >
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null" >
                #{areaId,jdbcType=VARCHAR},
            </if>
            <if test="firmwareId != null" >
                #{firmwareId,jdbcType=VARCHAR},
            </if>
            <if test="taskTriggerMode != null" >
                #{taskTriggerMode,jdbcType=INTEGER},
            </if>
            <if test="taskTriggerEvent != null" >
                #{taskTriggerEvent,jdbcType=INTEGER},
            </if>
            <if test="taskDescription != null">
                #{taskDescription,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.FirmwareUpgradeTask" >
        update t_firmware_upgrade_task
        <set >
            <if test="taskName != null" >
                task_name = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskStartTime != null" >
                task_start_time = #{taskStartTime,jdbcType=VARCHAR},
            </if>
            <if test="taskEndTime != null" >
                task_end_time = #{taskEndTime,jdbcType=VARCHAR},
            </if>
            <if test="taskCreateTime != null" >
                task_create_time = #{taskCreateTime,jdbcType=INTEGER},
            </if>
            <if test="taskPeriod != null" >
                task_period = #{taskPeriod,jdbcType=INTEGER},
            </if>
            <if test="taskIsAutoStart != null" >
                task_is_auto_start = #{taskIsAutoStart,jdbcType=BIT},
            </if>
            <if test="taskStatus != null" >
                task_status = #{taskStatus,jdbcType=INTEGER},
            </if>
            <if test="deviceId != null" >
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null" >
                area_id = #{areaId,jdbcType=VARCHAR},
            </if>
            <if test="firmwareId != null" >
                firmware_id = #{firmwareId,jdbcType=VARCHAR},
            </if>
            <if test="taskTriggerMode != null" >
                task_trigger_mode = #{taskTriggerMode,jdbcType=INTEGER},
            </if>
            <if test="taskTriggerEvent != null" >
                task_trigger_event = #{taskTriggerEvent,jdbcType=INTEGER},
            </if>
            <if test="taskDescription != null">
                task_description = #{taskDescription,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.FirmwareUpgradeTask" >
    update t_firmware_upgrade_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      task_start_time = #{taskStartTime,jdbcType=VARCHAR},
      task_end_time = #{taskEndTime,jdbcType=VARCHAR},
      task_create_time = #{taskCreateTime,jdbcType=INTEGER},
      task_period = #{taskPeriod,jdbcType=INTEGER},
      task_is_auto_start = #{taskIsAutoStart,jdbcType=BIT},
      task_status = #{taskStatus,jdbcType=INTEGER},
      device_id = #{deviceId,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      firmware_id = #{firmwareId,jdbcType=VARCHAR},
      task_trigger_mode = #{taskTriggerMode,jdbcType=INTEGER},
      task_trigger_event = #{taskTriggerEvent,jdbcType=INTEGER},
       task_description = #{taskDescription,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="selectTaskCount" parameterType="java.lang.String" resultType="java.lang.Integer" >
        SELECT count(*) FROM t_firmware_upgrade_task
        WHERE 1=1
        <if test="firmwareId != null">
            and firmware_id = #{firmwareId,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="queryUpgradeTaskByMacs" resultType="java.util.HashMap" >
       SELECT 
		  temp.mac,
		  temp.Stat,
		  temp.PlanId
		  
		FROM
		  (SELECT 
		    i.gateway_macaddress AS mac,
		    case when d.status = 1 then 1 else 0 end Stat,
		    t.id AS PlanId,
		    t.task_create_time createTime 
		  FROM
		    t_firmware_upgrade_task t,
		    t_firmware_upgrade_task_detail d,
		    t_gateway_info i 
		  WHERE t.id = d.upgrade_task_id 
		    AND d.gateway_id = i.gateway_uuid 
		    AND i.gateway_macaddress IN 
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
			  #{item}  
			 </foreach>
		  ORDER BY t.task_create_time DESC) temp 
		GROUP BY temp.mac 
    </select>

    <update id="updateStatus" parameterType="java.util.HashMap" >
        update t_firmware_upgrade_task
        set task_status = #{taskStatus,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="batchUpdateStatus" parameterType="java.util.HashMap">
        update t_firmware_upgrade_task
        set task_status = #{taskStatus,jdbcType=INTEGER}
        where id IN
        <foreach  collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>


</mapper>