<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.GatewayNodeMapper" >
  <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.GatewayNode" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="factory_code" property="factoryCode" jdbcType="VARCHAR" />
    <result column="hd_version" property="hdVersion" jdbcType="VARCHAR" />
    <result column="firmware_version" property="firmwareVersion" jdbcType="VARCHAR" />
    <result column="login_password_node" property="loginPasswordNode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, factory_code, hd_version, firmware_version, login_password_node
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cmiot.rms.dao.model.GatewayNodeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_gateway_node
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_gateway_node
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_gateway_node
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cmiot.rms.dao.model.GatewayNodeExample" >
    delete from t_gateway_node
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmiot.rms.dao.model.GatewayNode" >
    insert into t_gateway_node (id, factory_code, hd_version, 
      firmware_version, login_password_node)
    values (#{id,jdbcType=VARCHAR}, #{factoryCode,jdbcType=VARCHAR}, #{hdVersion,jdbcType=VARCHAR}, 
      #{firmwareVersion,jdbcType=VARCHAR}, #{loginPasswordNode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.GatewayNode" >
    insert into t_gateway_node
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="factoryCode != null" >
        factory_code,
      </if>
      <if test="hdVersion != null" >
        hd_version,
      </if>
      <if test="firmwareVersion != null" >
        firmware_version,
      </if>
      <if test="loginPasswordNode != null" >
        login_password_node,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="factoryCode != null" >
        #{factoryCode,jdbcType=VARCHAR},
      </if>
      <if test="hdVersion != null" >
        #{hdVersion,jdbcType=VARCHAR},
      </if>
      <if test="firmwareVersion != null" >
        #{firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="loginPasswordNode != null" >
        #{loginPasswordNode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmiot.rms.dao.model.GatewayNodeExample" resultType="java.lang.Integer" >
    select count(*) from t_gateway_node
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_gateway_node
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.factoryCode != null" >
        factory_code = #{record.factoryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.hdVersion != null" >
        hd_version = #{record.hdVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.firmwareVersion != null" >
        firmware_version = #{record.firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.loginPasswordNode != null" >
        login_password_node = #{record.loginPasswordNode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_gateway_node
    set id = #{record.id,jdbcType=VARCHAR},
      factory_code = #{record.factoryCode,jdbcType=VARCHAR},
      hd_version = #{record.hdVersion,jdbcType=VARCHAR},
      firmware_version = #{record.firmwareVersion,jdbcType=VARCHAR},
      login_password_node = #{record.loginPasswordNode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.GatewayNode" >
    update t_gateway_node
    <set >
      <if test="factoryCode != null" >
        factory_code = #{factoryCode,jdbcType=VARCHAR},
      </if>
      <if test="hdVersion != null" >
        hd_version = #{hdVersion,jdbcType=VARCHAR},
      </if>
      <if test="firmwareVersion != null" >
        firmware_version = #{firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="loginPasswordNode != null" >
        login_password_node = #{loginPasswordNode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.GatewayNode" >
    update t_gateway_node
    set factory_code = #{factoryCode,jdbcType=VARCHAR},
      hd_version = #{hdVersion,jdbcType=VARCHAR},
      firmware_version = #{firmwareVersion,jdbcType=VARCHAR},
      login_password_node = #{loginPasswordNode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>