<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.GatewayBackupFileTaskDetailMapper" >
  <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.GatewayBackupFileTaskDetail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="gateway_id" property="gatewayId" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="backup_file_id" property="backupFileId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gateway_id, task_id, backup_file_id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_gateway_backup_file_task_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_gateway_backup_file_task_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTaskDetail" >
     insert into t_gateway_backup_file_task_detail (id, gateway_id, task_id,
      backup_file_id, status)
    values (#{id,jdbcType=VARCHAR}, #{gatewayId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR},
      #{backupFileId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTaskDetail" >
    insert into t_gateway_backup_file_task_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gatewayId != null" >
        gateway_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="backupFileId != null" >
        backup_file_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="gatewayId != null" >
        #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="backupFileId != null" >
        #{backupFileId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTaskDetail" >
    update t_gateway_backup_file_task_detail
    <set >
      <if test="gatewayId != null" >
        gateway_id = #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="backupFileId != null" >
        backup_file_id = #{backupFileId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTaskDetail" >
    update t_gateway_backup_file_task_detail
    set gateway_id = #{gatewayId,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      backup_file_id = #{backupFileId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByFileId" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTaskDetail" >
    update t_gateway_backup_file_task_detail
    set status = #{status,jdbcType=INTEGER}
    where backup_file_id = #{backupFileId,jdbcType=VARCHAR}
  </update>

  <select id="selectCountById" resultType="java.lang.Integer" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTaskDetail" >
    select Count(1)
    from t_gateway_backup_file_task_detail
    where task_id = #{taskId,jdbcType=VARCHAR}
    AND   gateway_id = #{gatewayId,jdbcType=VARCHAR}
  </select>

</mapper>