<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.GateWayBatchSetTaskInfoMapper" >
    <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.GateWayBatchSetTaskInfo" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="t_gateway_info_id" property="gateWayInfoId" jdbcType="VARCHAR" />
        <result column="is_succes" property="isSuccess" jdbcType="CHAR" />
        <result column="t_batch_set_task_id" property="batchSetTaskId" jdbcType="VARCHAR" />
        <result column="trriger_event" property="trrigerEvent" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.cmiot.rms.dao.model.GateWayBatchSetTaskInfo" >
        <result column="gateway_uuid" property="gateWayInfoId" jdbcType="VARCHAR" />
        <result column="t_batch_set_task_id" property="batchSetTaskId" jdbcType="VARCHAR" />
        <result column="gateway_macaddress" property="gateWayMacAddress" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByParm" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        select
        a.id, a.t_gateway_info_id, a.is_succes, a.t_batch_set_task_id,a.trriger_event
        from t_gateway_batchset_task_info a,t_batch_set_task b
        where a.t_batch_set_task_id = b.id and b.is_delete = 1
        <if test="id != null">
            and a.id =
            #{id,jdbcType=VARCHAR}
        </if>
        <if test="deviceInfoId != null">
            and a.t_gateway_info_id =
            #{deviceInfoId,jdbcType=VARCHAR}
        </if>
        <if test="batchSetTaskId != null">
            and a.t_batch_set_task_id =
            #{batchSetTaskId,jdbcType=VARCHAR}
        </if>
        <if test="isSuccess != null">
            and a.is_succes =
            #{isSuccess,jdbcType=VARCHAR}
        </if>
        <if test="trrigerEvent != null">
            and a.trriger_event =
            #{trrigerEvent,jdbcType=VARCHAR}
        </if>
    </select>
    <delete id="deleteByDeviceTaskInfoId" parameterType="java.lang.String" >
        DELETE FROM t_gateway_batchset_task_info WHERE id =
        #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.cmiot.rms.dao.model.GateWayBatchSetTaskInfo" >
        insert into t_gateway_batchset_task_info (id, t_gateway_info_id, is_succes,
        t_batch_set_task_id,trriger_event)
        values (#{id,jdbcType=VARCHAR}, #{gateWayInfoId,jdbcType=VARCHAR}, #{isSuccess,jdbcType=CHAR},
        #{batchSetTaskId,jdbcType=VARCHAR},#{trrigerEvent,jdbcType=VARCHAR})
    </insert>

    <select id="selectTasByGateWay" parameterType="java.util.Map"
            resultMap="BaseResultMap1">
            SELECT
            a.id AS  t_batch_set_task_id
            FROM t_batch_set_task a WHERE  a.is_delete = '1'
            <if test="areaIds != null">
                AND  a.area_code in
                <foreach collection="areaIds" open="(" close=")" separator="," item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="trrigerEvent1 != null">
                and  a.trriger_event_1 =
                #{trrigerEvent1,jdbcType=VARCHAR}
            </if>
            <if test="trrigerEvent2 != null">
                and  a.trriger_event_2 =
                #{trrigerEvent2,jdbcType=VARCHAR}
            </if>
            <if test="trrigerEvent3 != null">
                and  a.trriger_event_3 =
                #{trrigerEvent3,jdbcType=VARCHAR}
            </if>
            <if test="trrigerEvent4 != null">
                and  a.trriger_event_4 =
                #{trrigerEvent4,jdbcType=VARCHAR}
            </if>
        ORDER BY a.create_time ASC
    </select>
</mapper>