<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.GatewayFlowrateTaskDetailMapper" >
  <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.GatewayFlowrateTaskDetail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="gateway_id" property="gatewayId" jdbcType="VARCHAR" />
    <result column="flowrate" property="flowrate" jdbcType="VARCHAR" />
    <result column="firmware_id" property="firmwareId" jdbcType="VARCHAR" />
    <result column="gateway_mac" property="gatewayMac" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_id, gateway_id, flowrate, create_date,firmware_id,gateway_mac
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_gateway_flowrate_task_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_gateway_flowrate_task_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmiot.rms.dao.model.GatewayFlowrateTaskDetail" >
    insert into t_gateway_flowrate_task_detail (id, task_id, gateway_id, 
      flowrate, create_date,firmware_id,gateway_mac)
    values (#{id,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{gatewayId,jdbcType=VARCHAR}, 
      #{flowrate,jdbcType=VARCHAR}, #{createDate,jdbcType=INTEGER}, #{firmwareId,jdbcType=VARCHAR},#{gatewayMac,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.GatewayFlowrateTaskDetail" >
    insert into t_gateway_flowrate_task_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="gatewayId != null" >
        gateway_id,
      </if>
      <if test="flowrate != null" >
        flowrate,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="firmwareId != null" >
        firmware_id,
      </if>
      <if test="gatewayMac != null" >
        gateway_mac,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="gatewayId != null" >
        #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="flowrate != null" >
        #{flowrate,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=INTEGER},
      </if>
      <if test="firmwareId != null" >
        #{firmwareId,jdbcType=VARCHAR},
      </if>
      <if test="gatewayMac != null" >
        #{gatewayMac,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="selectByTaskId" resultType="java.util.HashMap">
         SELECT 
         	d.gateway_id gatewayUuid, d.gateway_mac mac, f.firmware_version firmwareVersion, CASE WHEN d.flowrate  IS NULL THEN 0 ELSE d.flowrate  END flowrate 
         FROM 
         	t_gateway_flowrate_task_detail d 
         LEFT JOIN  
         	t_firmware_info f 
         ON d.firmware_id = f.id  
         WHERE 
         	d.task_id = #{taskId,jdbcType=VARCHAR}
    </select>
  
</mapper>