<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.GatewayPhysicalStatusMapper" >
  <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.GatewayPhysicalStatus" >
    <id column="GATEWAY_PHYSICAL_STATUS_UUID" property="gatewayPhysicalStatusUuid" jdbcType="VARCHAR" />
    <result column="GATEWAY_PHYSICAL_STATUS_CPU_USAGE" property="gatewayPhysicalStatusCpuUsage" jdbcType="CHAR" />
    <result column="GATEWAY_PHYSICAL_STATUS_MEM_USAGE" property="gatewayPhysicalStatusMemUsage" jdbcType="CHAR" />
    <result column="GATEWAY_PHYSICAL_STATUS_PROCESS_NAME" property="gatewayPhysicalStatusProcessName" jdbcType="CHAR" />
    <result column="GATEWAY_PHYSICAL_STATUS_LAN_STATUS" property="gatewayPhysicalStatusLanStatus" jdbcType="CHAR" />
    <result column="GATEWAY_PHYSICAL_STATUS_WAN_STATUS" property="gatewayPhysicalStatusWanStatus" jdbcType="CHAR" />
    <result column="GATEWAY_INFO_UUID" property="gatewayInfoUuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    GATEWAY_PHYSICAL_STATUS_UUID, GATEWAY_PHYSICAL_STATUS_CPU_USAGE, GATEWAY_PHYSICAL_STATUS_MEM_USAGE, 
    GATEWAY_PHYSICAL_STATUS_PROCESS_NAME, GATEWAY_PHYSICAL_STATUS_LAN_STATUS, GATEWAY_PHYSICAL_STATUS_WAN_STATUS, 
    GATEWAY_INFO_UUID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_gateway_physical_status
    where GATEWAY_PHYSICAL_STATUS_UUID = #{gatewayPhysicalStatusUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_gateway_physical_status
    where GATEWAY_PHYSICAL_STATUS_UUID = #{gatewayPhysicalStatusUuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmiot.rms.dao.model.GatewayPhysicalStatus" >
    insert into t_gateway_physical_status (GATEWAY_PHYSICAL_STATUS_UUID, GATEWAY_PHYSICAL_STATUS_CPU_USAGE, 
      GATEWAY_PHYSICAL_STATUS_MEM_USAGE, GATEWAY_PHYSICAL_STATUS_PROCESS_NAME, 
      GATEWAY_PHYSICAL_STATUS_LAN_STATUS, GATEWAY_PHYSICAL_STATUS_WAN_STATUS, 
      GATEWAY_INFO_UUID)
    values (#{gatewayPhysicalStatusUuid,jdbcType=VARCHAR}, #{gatewayPhysicalStatusCpuUsage,jdbcType=CHAR}, 
      #{gatewayPhysicalStatusMemUsage,jdbcType=CHAR}, #{gatewayPhysicalStatusProcessName,jdbcType=CHAR}, 
      #{gatewayPhysicalStatusLanStatus,jdbcType=CHAR}, #{gatewayPhysicalStatusWanStatus,jdbcType=CHAR}, 
      #{gatewayInfoUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.GatewayPhysicalStatus" >
    insert into t_gateway_physical_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gatewayPhysicalStatusUuid != null" >
        GATEWAY_PHYSICAL_STATUS_UUID,
      </if>
      <if test="gatewayPhysicalStatusCpuUsage != null" >
        GATEWAY_PHYSICAL_STATUS_CPU_USAGE,
      </if>
      <if test="gatewayPhysicalStatusMemUsage != null" >
        GATEWAY_PHYSICAL_STATUS_MEM_USAGE,
      </if>
      <if test="gatewayPhysicalStatusProcessName != null" >
        GATEWAY_PHYSICAL_STATUS_PROCESS_NAME,
      </if>
      <if test="gatewayPhysicalStatusLanStatus != null" >
        GATEWAY_PHYSICAL_STATUS_LAN_STATUS,
      </if>
      <if test="gatewayPhysicalStatusWanStatus != null" >
        GATEWAY_PHYSICAL_STATUS_WAN_STATUS,
      </if>
      <if test="gatewayInfoUuid != null" >
        GATEWAY_INFO_UUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gatewayPhysicalStatusUuid != null" >
        #{gatewayPhysicalStatusUuid,jdbcType=VARCHAR},
      </if>
      <if test="gatewayPhysicalStatusCpuUsage != null" >
        #{gatewayPhysicalStatusCpuUsage,jdbcType=CHAR},
      </if>
      <if test="gatewayPhysicalStatusMemUsage != null" >
        #{gatewayPhysicalStatusMemUsage,jdbcType=CHAR},
      </if>
      <if test="gatewayPhysicalStatusProcessName != null" >
        #{gatewayPhysicalStatusProcessName,jdbcType=CHAR},
      </if>
      <if test="gatewayPhysicalStatusLanStatus != null" >
        #{gatewayPhysicalStatusLanStatus,jdbcType=CHAR},
      </if>
      <if test="gatewayPhysicalStatusWanStatus != null" >
        #{gatewayPhysicalStatusWanStatus,jdbcType=CHAR},
      </if>
      <if test="gatewayInfoUuid != null" >
        #{gatewayInfoUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.GatewayPhysicalStatus" >
    update t_gateway_physical_status
    <set >
      <if test="gatewayPhysicalStatusCpuUsage != null" >
        GATEWAY_PHYSICAL_STATUS_CPU_USAGE = #{gatewayPhysicalStatusCpuUsage,jdbcType=CHAR},
      </if>
      <if test="gatewayPhysicalStatusMemUsage != null" >
        GATEWAY_PHYSICAL_STATUS_MEM_USAGE = #{gatewayPhysicalStatusMemUsage,jdbcType=CHAR},
      </if>
      <if test="gatewayPhysicalStatusProcessName != null" >
        GATEWAY_PHYSICAL_STATUS_PROCESS_NAME = #{gatewayPhysicalStatusProcessName,jdbcType=CHAR},
      </if>
      <if test="gatewayPhysicalStatusLanStatus != null" >
        GATEWAY_PHYSICAL_STATUS_LAN_STATUS = #{gatewayPhysicalStatusLanStatus,jdbcType=CHAR},
      </if>
      <if test="gatewayPhysicalStatusWanStatus != null" >
        GATEWAY_PHYSICAL_STATUS_WAN_STATUS = #{gatewayPhysicalStatusWanStatus,jdbcType=CHAR},
      </if>
      <if test="gatewayInfoUuid != null" >
        GATEWAY_INFO_UUID = #{gatewayInfoUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where GATEWAY_PHYSICAL_STATUS_UUID = #{gatewayPhysicalStatusUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.GatewayPhysicalStatus" >
    update t_gateway_physical_status
    set GATEWAY_PHYSICAL_STATUS_CPU_USAGE = #{gatewayPhysicalStatusCpuUsage,jdbcType=CHAR},
      GATEWAY_PHYSICAL_STATUS_MEM_USAGE = #{gatewayPhysicalStatusMemUsage,jdbcType=CHAR},
      GATEWAY_PHYSICAL_STATUS_PROCESS_NAME = #{gatewayPhysicalStatusProcessName,jdbcType=CHAR},
      GATEWAY_PHYSICAL_STATUS_LAN_STATUS = #{gatewayPhysicalStatusLanStatus,jdbcType=CHAR},
      GATEWAY_PHYSICAL_STATUS_WAN_STATUS = #{gatewayPhysicalStatusWanStatus,jdbcType=CHAR},
      GATEWAY_INFO_UUID = #{gatewayInfoUuid,jdbcType=VARCHAR}
    where GATEWAY_PHYSICAL_STATUS_UUID = #{gatewayPhysicalStatusUuid,jdbcType=VARCHAR}
  </update>
</mapper>