<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.GatewayBackupFileTaskMapper">
    <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.GatewayBackupFileTask">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
        <result column="task_trigger_mode" property="taskTriggerMode" jdbcType="INTEGER"/>
        <result column="task_trigger_event" property="taskTriggerEvent" jdbcType="INTEGER"/>
        <result column="task_create_time" property="taskCreateTime" jdbcType="INTEGER" />
        <result column="task_start_time" property="taskStartTime" jdbcType="INTEGER" />
        <result column="task_end_time" property="taskEndTime" jdbcType="INTEGER" />
        <result column="area_id" property="areaId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, task_name, task_trigger_mode, task_trigger_event, task_create_time, task_start_time, task_end_time, area_id,
    status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_gateway_backup_file_task
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_gateway_backup_file_task
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTask">
    insert into t_gateway_backup_file_task (id, task_name, task_trigger_mode, 
      task_trigger_event, task_create_time, task_start_time, task_end_time,
      area_id, status)
    values (#{id,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, #{taskTriggerMode,jdbcType=INTEGER}, 
      #{taskTriggerEvent,jdbcType=INTEGER}, #{taskCreateTime,jdbcType=INTEGER}, #{taskStartTime,jdbcType=INTEGER}, #{taskEndTime,jdbcType=INTEGER},
      #{areaId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTask">
        insert into t_gateway_backup_file_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taskName != null">
                task_name,
            </if>
            <if test="taskTriggerMode != null">
                task_trigger_mode,
            </if>
            <if test="taskTriggerEvent != null">
                task_trigger_event,
            </if>
            <if test="taskCreateTime != null" >
                task_create_time,
            </if>
            <if test="taskStartTime != null" >
                task_start_time,
            </if>
            <if test="taskEndTime != null" >
                task_end_time,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="taskName != null">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskTriggerMode != null">
                #{taskTriggerMode,jdbcType=INTEGER},
            </if>
            <if test="taskTriggerEvent != null">
                #{taskTriggerEvent,jdbcType=INTEGER},
            </if>
            <if test="taskCreateTime != null" >
                #{taskCreateTime,jdbcType=INTEGER},
            </if>
            <if test="taskStartTime != null" >
                #{taskStartTime,jdbcType=INTEGER},
            </if>
            <if test="taskEndTime != null" >
                #{taskEndTime,jdbcType=INTEGER},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTask">
        update t_gateway_backup_file_task
        <set>
            <if test="taskName != null">
                task_name = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskTriggerMode != null">
                task_trigger_mode = #{taskTriggerMode,jdbcType=INTEGER},
            </if>
            <if test="taskTriggerEvent != null">
                task_trigger_event = #{taskTriggerEvent,jdbcType=INTEGER},
            </if>
            <if test="taskCreateTime != null" >
                task_create_time = #{taskCreateTime,jdbcType=INTEGER},
            </if>
            <if test="taskStartTime != null" >
                task_start_time = #{taskStartTime,jdbcType=INTEGER},
            </if>
            <if test="taskEndTime != null" >
                task_end_time = #{taskEndTime,jdbcType=INTEGER},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTask">
    update t_gateway_backup_file_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      task_trigger_mode = #{taskTriggerMode,jdbcType=INTEGER},
      task_trigger_event = #{taskTriggerEvent,jdbcType=INTEGER},
      task_create_time = #{taskCreateTime,jdbcType=INTEGER},
      task_start_time = #{taskStartTime,jdbcType=INTEGER},
      task_end_time = #{taskEndTime,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List"/>
        from t_gateway_backup_file_task
        where 1=1
        <if test="taskName != null">
            and task_name like
            CONCAT('%',
            #{taskName},'%' )
        </if>
        <if test="taskTriggerMode != null">
            and task_trigger_mode =
            #{taskTriggerMode,jdbcType=INTEGER}
        </if>
        <if test="areaIds != null">
            and area_id IN
            <foreach collection="areaIds" index="index" item="item" open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
        </if>
        ORDER BY task_create_time DESC
    </select>

    <select id="selectTimingTask" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from t_gateway_backup_file_task
        WHERE task_trigger_mode = 1
        AND  status = 1
        AND #{currentTime,jdbcType=INTEGER}  >= task_start_time
        and task_end_time >= #{currentTime,jdbcType=INTEGER}
        ORDER BY task_create_time ASC
    </select>

    <select id="selectGatewayIdsByArea" parameterType="java.util.Map" resultType="java.util.HashMap">
       SELECT GATEWAY_UUID gatewayId FROM t_gateway_info
       WHERE  gateway_area_id IN
        <foreach collection="areaIds" index="index" item="item" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        LIMIT #{startRows,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>

    <select id="selectGatewayCountByArea" parameterType="java.util.List" resultType="int">
        SELECT count(*) FROM t_gateway_info
        WHERE  gateway_area_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>


    <select id="selectTask" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT t.*
        FROM t_gateway_backup_file_task t, t_gateway_backup_file_task_area a
        WHERE
        t.id = a.task_id
        AND t.task_trigger_mode = 2
        AND t.task_trigger_event =#{event,jdbcType=INTEGER}
        AND a.area_id = #{areaId,jdbcType=INTEGER}
    </select>


    <select id="selectSameTaskForEvent" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTask" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_gateway_backup_file_task t, t_gateway_backup_file_task_area a
        WHERE t.id = a.task_id
        AND t.task_trigger_mode = 2
        AND t.task_trigger_event =#{taskTriggerEvent,jdbcType=INTEGER}
        AND a.area_id = #{areaId,jdbcType=INTEGER}
        <if test="id != null">
            and t.id != #{id,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectSameTaskForTime" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTask" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_gateway_backup_file_task t, t_gateway_backup_file_task_area a
        WHERE t.id = a.task_id
        AND t.task_trigger_mode = 1
        AND a.area_id = #{areaId,jdbcType=INTEGER}
        AND ((#{taskStartTime,jdbcType=INTEGER}  >= t.task_start_time
              and t.task_end_time >= #{taskStartTime,jdbcType=INTEGER})
            or (#{taskEndTime,jdbcType=INTEGER}  >= t.task_start_time
              and t.task_end_time >= #{taskEndTime,jdbcType=INTEGER}))
        <if test="id != null">
            and t.id != #{id,jdbcType=VARCHAR}
        </if>
    </select>


    <select id="selectSameTaskByName" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileTask" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_gateway_backup_file_task
        WHERE task_name = #{taskName,jdbcType=VARCHAR}
        <if test="id != null">
            and id != #{id,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectProcessingTask" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_gateway_backup_file_task
        where task_trigger_mode = 1 AND status = 2
        AND #{currenTime,jdbcType=INTEGER} > task_end_time
        ORDER BY task_create_time ASC
    </select>

    <update id="batchUpdateTaskStatus" parameterType="java.util.HashMap">
        update t_gateway_backup_file_task
        set status = #{status,jdbcType=INTEGER}
        where id IN
        <foreach  collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>


</mapper>