<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.GatewayBackupFileInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.GatewayBackupFileInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="gateway_id" property="gatewayId" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="file_size" jdbcType="DOUBLE" property="fileSize" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gateway_id, file_name, file_path, user_name, password, file_size, start_time, end_time,
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_gateway_backup_file_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_gateway_backup_file_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileInfo" >
    insert into t_gateway_backup_file_info (id, gateway_id, file_name, 
      file_path, user_name, password, file_size,
      start_time, end_time, status
      )
    values (#{id,jdbcType=VARCHAR}, #{gatewayId,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{filePath,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},  #{fileSize,jdbcType=DOUBLE},
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileInfo" >
    insert into t_gateway_backup_file_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gatewayId != null" >
        gateway_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="gatewayId != null" >
        #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileInfo" >
    update t_gateway_backup_file_info
    <set >
      <if test="gatewayId != null" >
        gateway_id = #{gatewayId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.GatewayBackupFileInfo" >
    update t_gateway_backup_file_info
    set gateway_id = #{gatewayId,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=DOUBLE},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectCountByGatewayId" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(1)
    from t_gateway_backup_file_info
    where gateway_id = #{gatewayId,jdbcType=VARCHAR} AND status != 3
  </select>

  <select id="selectListByGatewayId" resultMap="BaseResultMap"  parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_gateway_backup_file_info
    where gateway_id = #{gatewayId,jdbcType=VARCHAR} AND status != 3
    ORDER BY start_time DESC
  </select>

  <select id="selectProcessingList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_gateway_backup_file_info
    where status = 1
    ORDER BY start_time ASC
  </select>

  <select id="selectBackupCount" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(*)
    from t_gateway_backup_file_info
    where gateway_id = #{gatewayId,jdbcType=VARCHAR} AND status = 1
  </select>

</mapper>