<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.HardwareAblityMapper" >
  <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.HardwareAblity" >
    <id column="HARDWARE_ABLITY_UUID" property="hardwareAblityUuid" jdbcType="VARCHAR" />
    <result column="HARDWARE_ABLITY_LAN_COUNT" property="hardwareAblityLanCount" jdbcType="INTEGER" />
    <result column="HARDWARE_ABLITY_USB_COUNT" property="hardwareAblityUsbCount" jdbcType="INTEGER" />
    <result column="HARDWARE_ABLITY_SUPPORT_WIFI" property="hardwareAblitySupportWifi" jdbcType="BIT" />
    <result column="HARDWARE_ABLITY_WIFI_LOC" property="hardwareAblityWifiLoc" jdbcType="VARCHAR" />
    <result column="HARDWARE_ABLITY_WIFI_COUNT" property="hardwareAblityWifiCount" jdbcType="INTEGER" />
    <result column="HARDWARE_ABLITY_WIFI_SIZE" property="hardwareAblityWifiSize" jdbcType="VARCHAR" />
    <result column="HARDWARE_ABLITY_SUPPORT_WIFI24GHZ" property="hardwareAblitySupportWifi24ghz" jdbcType="VARCHAR" />
    <result column="HARDWARE_ABLITY_SUPPORT_WIFI58GHZ" property="hardwareAblitySupportWifi58ghz" jdbcType="VARCHAR" />
    <result column="HARDWARE_ABLITY_IPV4V6" property="hardwareAblityIpv4v6" jdbcType="VARCHAR" />
    <result column="DEVICE_UUID" property="deviceId" jdbcType="VARCHAR" />
    <result column="GATEWAY_INFO_FORM" property="gatewayForm" jdbcType="VARCHAR" />
    <result column="GATEWAY_OS_TYPE" property="gatewayOSType" jdbcType="VARCHAR" />
    <result column="GATEWAY_OS_VERSION" property="gatewayOSVersion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    HARDWARE_ABLITY_UUID, HARDWARE_ABLITY_LAN_COUNT, HARDWARE_ABLITY_USB_COUNT, HARDWARE_ABLITY_SUPPORT_WIFI,
    HARDWARE_ABLITY_WIFI_LOC, HARDWARE_ABLITY_WIFI_COUNT, HARDWARE_ABLITY_WIFI_SIZE,
    HARDWARE_ABLITY_SUPPORT_WIFI24GHZ, HARDWARE_ABLITY_SUPPORT_WIFI58GHZ, HARDWARE_ABLITY_IPV4V6,
    DEVICE_UUID,GATEWAY_INFO_FORM,GATEWAY_OS_TYPE,GATEWAY_OS_VERSION
  </sql>


    <select id="queryList4Page" parameterType="com.cmiot.rms.dao.model.HardwareAblity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_hardware_ablity
  </select>

    <select id="queryList" parameterType="com.cmiot.rms.dao.model.HardwareAblity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_hardware_ablity
  </select>

    <select id="selectByDeviceUuid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_hardware_ablity
    where DEVICE_UUID = #{deviceId,jdbcType=VARCHAR}
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_hardware_ablity
    where HARDWARE_ABLITY_UUID = #{hardwareAblityUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_hardware_ablity
    where HARDWARE_ABLITY_UUID = #{hardwareAblityUuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmiot.rms.dao.model.HardwareAblity" >
    insert into t_hardware_ablity (HARDWARE_ABLITY_UUID, HARDWARE_ABLITY_LAN_COUNT,
      HARDWARE_ABLITY_USB_COUNT, HARDWARE_ABLITY_SUPPORT_WIFI,
      HARDWARE_ABLITY_WIFI_LOC, HARDWARE_ABLITY_WIFI_COUNT,
      HARDWARE_ABLITY_WIFI_SIZE, HARDWARE_ABLITY_SUPPORT_WIFI24GHZ,
      HARDWARE_ABLITY_SUPPORT_WIFI58GHZ, HARDWARE_ABLITY_IPV4V6,
      DEVICE_UUID,GATEWAY_INFO_FORM,GATEWAY_OS_TYPE,GATEWAY_OS_VERSION)
    values (#{hardwareAblityUuid,jdbcType=VARCHAR}, #{hardwareAblityLanCount,jdbcType=INTEGER},
      #{hardwareAblityUsbCount,jdbcType=INTEGER}, #{hardwareAblitySupportWifi,jdbcType=BIT},
      #{hardwareAblityWifiLoc,jdbcType=VARCHAR}, #{hardwareAblityWifiCount,jdbcType=INTEGER},
      #{hardwareAblityWifiSize,jdbcType=VARCHAR}, #{hardwareAblitySupportWifi24ghz,jdbcType=VARCHAR},
      #{hardwareAblitySupportWifi58ghz,jdbcType=VARCHAR}, #{hardwareAblityIpv4v6,jdbcType=VARCHAR},
      #{deviceId,jdbcType=VARCHAR},#{gatewayForm,jdbcType=VARCHAR},#{gatewayOSType,jdbcType=VARCHAR},#{gatewayOSVersion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.HardwareAblity" >
    insert into t_hardware_ablity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hardwareAblityUuid != null" >
        HARDWARE_ABLITY_UUID,
      </if>
      <if test="hardwareAblityLanCount != null" >
        HARDWARE_ABLITY_LAN_COUNT,
      </if>
      <if test="hardwareAblityUsbCount != null" >
        HARDWARE_ABLITY_USB_COUNT,
      </if>
      <if test="hardwareAblitySupportWifi != null" >
        HARDWARE_ABLITY_SUPPORT_WIFI,
      </if>
      <if test="hardwareAblityWifiLoc != null" >
        HARDWARE_ABLITY_WIFI_LOC,
      </if>
      <if test="hardwareAblityWifiCount != null" >
        HARDWARE_ABLITY_WIFI_COUNT,
      </if>
      <if test="hardwareAblityWifiSize != null" >
        HARDWARE_ABLITY_WIFI_SIZE,
      </if>
      <if test="hardwareAblitySupportWifi24ghz != null" >
        HARDWARE_ABLITY_SUPPORT_WIFI24GHZ,
      </if>
      <if test="hardwareAblitySupportWifi58ghz != null" >
        HARDWARE_ABLITY_SUPPORT_WIFI58GHZ,
      </if>
      <if test="hardwareAblityIpv4v6 != null" >
        HARDWARE_ABLITY_IPV4V6,
      </if>
      <if test="gatewayInfoUuid != null" >
        DEVICE_UUID,
      </if>
      <if test="gatewayForm != null" >
        GATEWAY_INFO_FORM,
      </if>
      <if test="gatewayOSType != null" >
        GATEWAY_OS_TYPE,
      </if>
      <if test="gatewayOSVersion != null" >
        GATEWAY_OS_VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hardwareAblityUuid != null" >
        #{hardwareAblityUuid,jdbcType=VARCHAR},
      </if>
      <if test="hardwareAblityLanCount != null" >
        #{hardwareAblityLanCount,jdbcType=INTEGER},
      </if>
      <if test="hardwareAblityUsbCount != null" >
        #{hardwareAblityUsbCount,jdbcType=INTEGER},
      </if>
      <if test="hardwareAblitySupportWifi != null" >
        #{hardwareAblitySupportWifi,jdbcType=BIT},
      </if>
      <if test="hardwareAblityWifiLoc != null" >
        #{hardwareAblityWifiLoc,jdbcType=VARCHAR},
      </if>
      <if test="hardwareAblityWifiCount != null" >
        #{hardwareAblityWifiCount,jdbcType=INTEGER},
      </if>
      <if test="hardwareAblityWifiSize != null" >
        #{hardwareAblityWifiSize,jdbcType=VARCHAR},
      </if>
      <if test="hardwareAblitySupportWifi24ghz != null" >
        #{hardwareAblitySupportWifi24ghz,jdbcType=VARCHAR},
      </if>
      <if test="hardwareAblitySupportWifi58ghz != null" >
        #{hardwareAblitySupportWifi58ghz,jdbcType=VARCHAR},
      </if>
      <if test="hardwareAblityIpv4v6 != null" >
        #{hardwareAblityIpv4v6,jdbcType=VARCHAR},
      </if>
      <if test="gatewayInfoUuid != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="gatewayForm != null" >
        #{gatewayForm,jdbcType=VARCHAR},
      </if>
      <if test="gatewayOSType != null" >
        #{gatewayOSType,jdbcType=VARCHAR},
      </if>
      <if test="gatewayOSVersion != null" >
        #{gatewayOSVersion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="batchInsertHardwareAblity" parameterType="java.util.List" >
    insert into t_hardware_ablity (HARDWARE_ABLITY_UUID, HARDWARE_ABLITY_LAN_COUNT,
      HARDWARE_ABLITY_USB_COUNT, HARDWARE_ABLITY_SUPPORT_WIFI,
      HARDWARE_ABLITY_WIFI_LOC, HARDWARE_ABLITY_WIFI_COUNT,
      HARDWARE_ABLITY_WIFI_SIZE, HARDWARE_ABLITY_SUPPORT_WIFI24GHZ,
      HARDWARE_ABLITY_SUPPORT_WIFI58GHZ, HARDWARE_ABLITY_IPV4V6,
      DEVICE_UUID,GATEWAY_INFO_FORM,GATEWAY_OS_TYPE,GATEWAY_OS_VERSION)
    values
     <foreach collection="list" item="item" index="index" separator="," >
	    (#{item.hardwareAblityUuid,jdbcType=VARCHAR}, #{item.hardwareAblityLanCount,jdbcType=INTEGER},
	      #{item.hardwareAblityUsbCount,jdbcType=INTEGER}, #{item.hardwareAblitySupportWifi,jdbcType=BIT},
	      #{item.hardwareAblityWifiLoc,jdbcType=VARCHAR}, #{item.hardwareAblityWifiCount,jdbcType=INTEGER},
	      #{item.hardwareAblityWifiSize,jdbcType=VARCHAR}, #{item.hardwareAblitySupportWifi24ghz,jdbcType=VARCHAR},
	      #{item.hardwareAblitySupportWifi58ghz,jdbcType=VARCHAR}, #{item.hardwareAblityIpv4v6,jdbcType=VARCHAR},
	      #{deviceId,jdbcType=VARCHAR},#{gatewayForm,jdbcType=VARCHAR}, #{gatewayOSType,jdbcType=VARCHAR},#{gatewayOSVersion,jdbcType=VARCHAR})
	    </foreach>

  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.HardwareAblity" >
    update t_hardware_ablity
    <set >
      <if test="hardwareAblityLanCount != null" >
        HARDWARE_ABLITY_LAN_COUNT = #{hardwareAblityLanCount,jdbcType=INTEGER},
      </if>
      <if test="hardwareAblityUsbCount != null" >
        HARDWARE_ABLITY_USB_COUNT = #{hardwareAblityUsbCount,jdbcType=INTEGER},
      </if>
      <if test="hardwareAblitySupportWifi != null" >
        HARDWARE_ABLITY_SUPPORT_WIFI = #{hardwareAblitySupportWifi,jdbcType=BIT},
      </if>
      <if test="hardwareAblityWifiLoc != null" >
        HARDWARE_ABLITY_WIFI_LOC = #{hardwareAblityWifiLoc,jdbcType=VARCHAR},
      </if>
      <if test="hardwareAblityWifiCount != null" >
        HARDWARE_ABLITY_WIFI_COUNT = #{hardwareAblityWifiCount,jdbcType=INTEGER},
      </if>
      <if test="hardwareAblityWifiSize != null" >
        HARDWARE_ABLITY_WIFI_SIZE = #{hardwareAblityWifiSize,jdbcType=VARCHAR},
      </if>
      <if test="hardwareAblitySupportWifi24ghz != null" >
        HARDWARE_ABLITY_SUPPORT_WIFI24GHZ = #{hardwareAblitySupportWifi24ghz,jdbcType=VARCHAR},
      </if>
      <if test="hardwareAblitySupportWifi58ghz != null" >
        HARDWARE_ABLITY_SUPPORT_WIFI58GHZ = #{hardwareAblitySupportWifi58ghz,jdbcType=VARCHAR},
      </if>
      <if test="hardwareAblityIpv4v6 != null" >
        HARDWARE_ABLITY_IPV4V6 = #{hardwareAblityIpv4v6,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        DEVICE_UUID = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="gatewayForm != null" >
        GATEWAY_INFO_FORM = #{gatewayForm,jdbcType=VARCHAR},
      </if>
      <if test="gatewayOSType != null" >
        GATEWAY_OS_TYPE = #{gatewayOSType,jdbcType=VARCHAR},
      </if>
      <if test="gatewayOSVersion != null" >
        GATEWAY_OS_VERSION = #{gatewayOSVersion,jdbcType=VARCHAR},
      </if>
    </set>
    where HARDWARE_ABLITY_UUID = #{hardwareAblityUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.HardwareAblity" >
    update t_hardware_ablity
    set HARDWARE_ABLITY_LAN_COUNT = #{hardwareAblityLanCount,jdbcType=INTEGER},
      HARDWARE_ABLITY_USB_COUNT = #{hardwareAblityUsbCount,jdbcType=INTEGER},
      HARDWARE_ABLITY_SUPPORT_WIFI = #{hardwareAblitySupportWifi,jdbcType=BIT},
      HARDWARE_ABLITY_WIFI_LOC = #{hardwareAblityWifiLoc,jdbcType=VARCHAR},
      HARDWARE_ABLITY_WIFI_COUNT = #{hardwareAblityWifiCount,jdbcType=INTEGER},
      HARDWARE_ABLITY_WIFI_SIZE = #{hardwareAblityWifiSize,jdbcType=VARCHAR},
      HARDWARE_ABLITY_SUPPORT_WIFI24GHZ = #{hardwareAblitySupportWifi24ghz,jdbcType=VARCHAR},
      HARDWARE_ABLITY_SUPPORT_WIFI58GHZ = #{hardwareAblitySupportWifi58ghz,jdbcType=VARCHAR},
      HARDWARE_ABLITY_IPV4V6 = #{hardwareAblityIpv4v6,jdbcType=VARCHAR},
      DEVICE_UUID = #{deviceId,jdbcType=VARCHAR},
      GATEWAY_INFO_FORM = #{gatewayForm,jdbcType=VARCHAR},
      GATEWAY_OS_TYPE = #{gatewayOSType,jdbcType=VARCHAR},
      GATEWAY_OS_VERSION = #{gatewayOSVersion,jdbcType=VARCHAR}

    where HARDWARE_ABLITY_UUID = #{hardwareAblityUuid,jdbcType=VARCHAR}
  </update>
</mapper>