<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.InstructionsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.InstructionsInfo" >
    <id column="INSTRUCTIONS_ID" property="instructionsId" jdbcType="VARCHAR" />
    <result column="INSTRUCTIONS_BEFORE_CLASSNAME" property="instructionsBeforeClassname" jdbcType="VARCHAR" />
    <result column="INSTRUCTIONS_AFTER_CLASSNAME" property="instructionsAfterClassname" jdbcType="VARCHAR" />
    <result column="INSTRUCTIONS_STATE" property="instructionsState" jdbcType="INTEGER" />
    <result column="INSTRUCTIONS_ROLE_CREATE_TIME" property="instructionsRoleCreateTime" jdbcType="INTEGER" />
    <result column="INSTRUCTIONS_ROLE_MODIFY_TIME" property="instructionsRoleModifyTime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cmiot.rms.dao.model.InstructionsInfoWithBLOBs" extends="BaseResultMap" >
    <result column="INSTRUCTIONS_BEFORE_CONTENT" property="instructionsBeforeContent" jdbcType="LONGVARCHAR" />
    <result column="INSTRUCTIONS_AFTER_CONTENT" property="instructionsAfterContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    INSTRUCTIONS_ID, INSTRUCTIONS_BEFORE_CLASSNAME, INSTRUCTIONS_AFTER_CLASSNAME, INSTRUCTIONS_STATE, 
    INSTRUCTIONS_ROLE_CREATE_TIME, INSTRUCTIONS_ROLE_MODIFY_TIME
  </sql>
  <sql id="Blob_Column_List" >
    INSTRUCTIONS_BEFORE_CONTENT, INSTRUCTIONS_AFTER_CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_instructions_info
    where INSTRUCTIONS_ID = #{instructionsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_instructions_info
    where INSTRUCTIONS_ID = #{instructionsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmiot.rms.dao.model.InstructionsInfoWithBLOBs" >
    insert into t_instructions_info (INSTRUCTIONS_ID, INSTRUCTIONS_BEFORE_CLASSNAME, 
      INSTRUCTIONS_AFTER_CLASSNAME, INSTRUCTIONS_STATE, 
      INSTRUCTIONS_ROLE_CREATE_TIME, INSTRUCTIONS_ROLE_MODIFY_TIME, 
      INSTRUCTIONS_BEFORE_CONTENT, INSTRUCTIONS_AFTER_CONTENT
      )
    values (#{instructionsId,jdbcType=VARCHAR}, #{instructionsBeforeClassname,jdbcType=VARCHAR}, 
      #{instructionsAfterClassname,jdbcType=VARCHAR}, #{instructionsState,jdbcType=INTEGER}, 
      #{instructionsRoleCreateTime,jdbcType=INTEGER}, #{instructionsRoleModifyTime,jdbcType=INTEGER}, 
      #{instructionsBeforeContent,jdbcType=LONGVARCHAR}, #{instructionsAfterContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.InstructionsInfoWithBLOBs" >
    insert into t_instructions_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instructionsId != null" >
        INSTRUCTIONS_ID,
      </if>
      <if test="instructionsBeforeClassname != null" >
        INSTRUCTIONS_BEFORE_CLASSNAME,
      </if>
      <if test="instructionsAfterClassname != null" >
        INSTRUCTIONS_AFTER_CLASSNAME,
      </if>
      <if test="instructionsState != null" >
        INSTRUCTIONS_STATE,
      </if>
      <if test="instructionsRoleCreateTime != null" >
        INSTRUCTIONS_ROLE_CREATE_TIME,
      </if>
      <if test="instructionsRoleModifyTime != null" >
        INSTRUCTIONS_ROLE_MODIFY_TIME,
      </if>
      <if test="instructionsBeforeContent != null" >
        INSTRUCTIONS_BEFORE_CONTENT,
      </if>
      <if test="instructionsAfterContent != null" >
        INSTRUCTIONS_AFTER_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instructionsId != null" >
        #{instructionsId,jdbcType=VARCHAR},
      </if>
      <if test="instructionsBeforeClassname != null" >
        #{instructionsBeforeClassname,jdbcType=VARCHAR},
      </if>
      <if test="instructionsAfterClassname != null" >
        #{instructionsAfterClassname,jdbcType=VARCHAR},
      </if>
      <if test="instructionsState != null" >
        #{instructionsState,jdbcType=INTEGER},
      </if>
      <if test="instructionsRoleCreateTime != null" >
        #{instructionsRoleCreateTime,jdbcType=INTEGER},
      </if>
      <if test="instructionsRoleModifyTime != null" >
        #{instructionsRoleModifyTime,jdbcType=INTEGER},
      </if>
      <if test="instructionsBeforeContent != null" >
        #{instructionsBeforeContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="instructionsAfterContent != null" >
        #{instructionsAfterContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.InstructionsInfoWithBLOBs" >
    update t_instructions_info
    <set >
      <if test="instructionsBeforeClassname != null" >
        INSTRUCTIONS_BEFORE_CLASSNAME = #{instructionsBeforeClassname,jdbcType=VARCHAR},
      </if>
      <if test="instructionsAfterClassname != null" >
        INSTRUCTIONS_AFTER_CLASSNAME = #{instructionsAfterClassname,jdbcType=VARCHAR},
      </if>
      <if test="instructionsState != null" >
        INSTRUCTIONS_STATE = #{instructionsState,jdbcType=INTEGER},
      </if>
      <if test="instructionsRoleCreateTime != null" >
        INSTRUCTIONS_ROLE_CREATE_TIME = #{instructionsRoleCreateTime,jdbcType=INTEGER},
      </if>
      <if test="instructionsRoleModifyTime != null" >
        INSTRUCTIONS_ROLE_MODIFY_TIME = #{instructionsRoleModifyTime,jdbcType=INTEGER},
      </if>
      <if test="instructionsBeforeContent != null" >
        INSTRUCTIONS_BEFORE_CONTENT = #{instructionsBeforeContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="instructionsAfterContent != null" >
        INSTRUCTIONS_AFTER_CONTENT = #{instructionsAfterContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where INSTRUCTIONS_ID = #{instructionsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cmiot.rms.dao.model.InstructionsInfoWithBLOBs" >
    update t_instructions_info
    set INSTRUCTIONS_BEFORE_CLASSNAME = #{instructionsBeforeClassname,jdbcType=VARCHAR},
      INSTRUCTIONS_AFTER_CLASSNAME = #{instructionsAfterClassname,jdbcType=VARCHAR},
      INSTRUCTIONS_STATE = #{instructionsState,jdbcType=INTEGER},
      INSTRUCTIONS_ROLE_CREATE_TIME = #{instructionsRoleCreateTime,jdbcType=INTEGER},
      INSTRUCTIONS_ROLE_MODIFY_TIME = #{instructionsRoleModifyTime,jdbcType=INTEGER},
      INSTRUCTIONS_BEFORE_CONTENT = #{instructionsBeforeContent,jdbcType=LONGVARCHAR},
      INSTRUCTIONS_AFTER_CONTENT = #{instructionsAfterContent,jdbcType=LONGVARCHAR}
    where INSTRUCTIONS_ID = #{instructionsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.InstructionsInfo" >
    update t_instructions_info
    set INSTRUCTIONS_BEFORE_CLASSNAME = #{instructionsBeforeClassname,jdbcType=VARCHAR},
      INSTRUCTIONS_AFTER_CLASSNAME = #{instructionsAfterClassname,jdbcType=VARCHAR},
      INSTRUCTIONS_STATE = #{instructionsState,jdbcType=INTEGER},
      INSTRUCTIONS_ROLE_CREATE_TIME = #{instructionsRoleCreateTime,jdbcType=INTEGER},
      INSTRUCTIONS_ROLE_MODIFY_TIME = #{instructionsRoleModifyTime,jdbcType=INTEGER}
    where INSTRUCTIONS_ID = #{instructionsId,jdbcType=VARCHAR}
  </update>

  <select id="queryInstructions" resultMap="ResultMapWithBLOBs" parameterType="com.cmiot.rms.dao.model.InstructionsInfoWithBLOBs" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_instructions_info
    <trim prefix="where" prefixOverrides="and">
      <if test="instructionsId != null ">
        and INSTRUCTIONS_ID = #{instructionsId,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

</mapper>