<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.LoggingEventPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.LoggingEventProperty" >
    <id column="event_id" property="eventId" jdbcType="BIGINT" />
    <id column="mapped_key" property="mappedKey" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cmiot.rms.dao.model.LoggingEventProperty" extends="BaseResultMap" >
    <result column="mapped_value" property="mappedValue" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    event_id, mapped_key
  </sql>
  <sql id="Blob_Column_List" >
    mapped_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.cmiot.rms.dao.model.LoggingEventPropertyKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from logging_event_property
    where event_id = #{eventId,jdbcType=BIGINT}
      and mapped_key = #{mappedKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.cmiot.rms.dao.model.LoggingEventPropertyKey" >
    delete from logging_event_property
    where event_id = #{eventId,jdbcType=BIGINT}
      and mapped_key = #{mappedKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmiot.rms.dao.model.LoggingEventProperty" >
    insert into logging_event_property (event_id, mapped_key, mapped_value
      )
    values (#{eventId,jdbcType=BIGINT}, #{mappedKey,jdbcType=VARCHAR}, #{mappedValue,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.LoggingEventProperty" >
    insert into logging_event_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eventId != null" >
        event_id,
      </if>
      <if test="mappedKey != null" >
        mapped_key,
      </if>
      <if test="mappedValue != null" >
        mapped_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eventId != null" >
        #{eventId,jdbcType=BIGINT},
      </if>
      <if test="mappedKey != null" >
        #{mappedKey,jdbcType=VARCHAR},
      </if>
      <if test="mappedValue != null" >
        #{mappedValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.LoggingEventProperty" >
    update logging_event_property
    <set >
      <if test="mappedValue != null" >
        mapped_value = #{mappedValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where event_id = #{eventId,jdbcType=BIGINT}
      and mapped_key = #{mappedKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cmiot.rms.dao.model.LoggingEventProperty" >
    update logging_event_property
    set mapped_value = #{mappedValue,jdbcType=LONGVARCHAR}
    where event_id = #{eventId,jdbcType=BIGINT}
      and mapped_key = #{mappedKey,jdbcType=VARCHAR}
  </update>
</mapper>