<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmiot.rms.dao.mapper.MakeInfoMapper">
	<resultMap id="BaseResultMap" type="com.cmiot.rms.dao.model.MakeInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="make_name" property="makeName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, make_name
	</sql>

	<select id="queryMakeInfoByMakeName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
	from t_make_info where make_name = #{makeName,jdbcType=VARCHAR}
	</select>

	<select id="selectByPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_make_info where 1=1
		<if test="id != null and id !='' ">
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="makeName != null and makeName !='' ">
			and make_name like CONCAT('%',#{makeName,jdbcType=VARCHAR},'%')
		</if>
		order by make_name asc limit #{lbound,jdbcType=INTEGER},#{mbound,jdbcType=INTEGER}
	</select>

	<select id="countSelectByPage" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
		count(1)
		from t_make_info where 1=1
		<if test="id != null and id !='' ">
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="makeName != null and makeName !='' ">
			and make_name like CONCAT('%',#{makeName,jdbcType=VARCHAR},'%')
		</if>
	</select>

	<select id="querySelective" resultMap="BaseResultMap" parameterType="com.cmiot.rms.dao.model.MakeInfo">
		select
		<include refid="Base_Column_List" />
		from t_make_info where 1=1
		<if test="id != null and id !='' ">
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="makeName != null and makeName !='' ">
			and make_name like CONCAT('%',#{makeName,jdbcType=VARCHAR},'%')
		</if>
	</select>

	<select id="countQuerySelective" parameterType="com.cmiot.rms.dao.model.MakeInfo" resultType="java.lang.Integer">
		select
		count(1)
		from t_make_info where 1=1
		<if test="makeName != null and makeName !='' ">
			and make_name like CONCAT('%',#{makeName,jdbcType=VARCHAR},'%')
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_make_info
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_make_info
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.cmiot.rms.dao.model.MakeInfo">
		insert into t_make_info (id, make_name)
		values (#{id,jdbcType=VARCHAR}, #{makeName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.cmiot.rms.dao.model.MakeInfo">
		insert into t_make_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="makeName != null">
				make_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="makeName != null">
				#{makeName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cmiot.rms.dao.model.MakeInfo">
		update t_make_info
		<set>
			<if test="makeName != null">
				make_name = #{makeName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cmiot.rms.dao.model.MakeInfo">
		update t_make_info
		set make_name = #{makeName,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="selectByFactoryCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select m.id, m.make_name
		from t_make_info m, t_manufacturer_info f
		where m.id = f.make_id
		and
		f.id = #{code,jdbcType=VARCHAR}
		<!-- 原来的写法 f.code =#{code,jdbcType=VARCHAR} -->
	</select>
</mapper>